*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    height: 100%;
    background-color: white;
}

h1 {
    padding: 10px 0;
    text-align: center;
    font-weight: 200;
    font-size: 50px;
    color: black;
}

p {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;    
}

.code-container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-height: 250px;
}

.text-area-code-editor {

    &,
    &:focus {
        box-shadow: none;
        outline: 0;
        border: 0;
    }
}

.text-area-code-editor,
.pre {
    tab-size: 4;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 2em;
    line-height: 2;
}

.pre {
    height: 100%;
    min-height: 250px;
    z-index: 1;
    overflow: auto;
    padding: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.text-area-code-editor {
    caret-color: rgb(255, 255, 255);
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
    text-align: left;
    display: block;
    resize: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: transparent;
    background: transparent;
    z-index: 2;
    padding: 15px;
}